
services:
  db:
    image: postgres:18
    environment:
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: inventory_db
    ports:
      # Changed to *3 avoid conflict with local Postgres
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
